@font-face {
 font-family: "Nunito";
 src: url('./assets/fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
 font-family: "Roboto Slab";
 src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

body {
  font-size: 0.925rem;
  color: #110010;
  font-family: "Nunito", Verdana, sans-serif;
  background: #4d3f45;
}

h1, h2, h3, .navbar {
  font-family: 'Roboto Slab', serif;
}

a {
  color: #3e161e;
}

.wrapper {
  background: #c8b8be;
  width: 50rem;
  margin: 0 auto;
  border-radius: 0.2rem;
}

header {
  height: 15rem;
  background: url("assets/imgs/jellyfishes-5584171_640.jpg") #224466;
  display: block;
  content: "";
  padding: 0;
  margin: 0;
  border-bottom: 1px solid;  
  border-radius: 0.2rem 0.2rem 0 0;
}

.navbar, footer {
  background: #9c8790;
  padding: 0.25rem 0.5rem;
}

.navbar-title {
  float: left;
}

nav {
  display: inline-block;
  float: right;
}

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

nav a {
  margin: 0 0 0 0.5rem;
}

.section {
  padding: 0.25rem 1.25rem 1.25rem 1.25rem;
  border-top: 1px solid;
}

.inset {
  padding: 1px 0.75rem;
  border-radius: 0.2rem;
  background: #9c8790;
}

clearfix {
  float: none;
  clear: both;
  content: "";
  height: 0;
  padding: 0;
  margin: 0;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.85rem;
  border-radius: 0 0 0.2rem 0.2rem;
}
