@font-face {
 font-family: "Nunito";
 src: url('./assets/fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
 font-family: "Roboto Slab";
 src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

html {
    min-height: 100vh;
}

body {
  font-size: 0.95rem;
  color: #ddeeee;
  font-family: "Nunito", Verdana, sans-serif;
  background: linear-gradient(#3877a9, #196f4c, #223a2a) no-repeat;
  padding: 0;
  margin: 0;
}

h1, h2, h3, .navbar {
  font-family: 'Roboto Slab', serif;
  line-height: 120%;
}

a {
  color: #90dfee;
}

center {
    text-align: center;
}

smaller {
    font-size: 0.92em;
}

p b {
    font-weight: heavy;
}

b {
    color: #90dfee;    
}

.wrapper {
  background: rgba(28, 32, 37, 0.95); /* formerly 2b2f37*/
  width: 90%;
  max-width: 65rem;
  margin: 2.5rem auto;
  box-shadow: 0 0 5px 2px #66c3eb;
  border: solid 1px #aaa;
  border-radius: 1rem;
  overflow: hidden;
  word-wrap: break-word;
}

header {
  height: 20vw;
  min-height: 7.5rem;
  max-height: 15rem;
  background: url("assets/imgs/cse2small94.jpg") #224466;
  background-size: cover;
  display: block;
  content: "";
  padding: 0;
  margin: 0;
  /*border-bottom: 1px solid;  */
  border-radius: 0.2rem 0.2rem 0 0;
}

.navbar, footer {
  background: #111;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid #aaa;
  line-height: 167%;
  background: linear-gradient(#3a3a3a 0.2rem, #222);
}

.navbar-title {
  float: left;
}

nav {
  display: inline-block;
  float: right;
}

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

nav a {
  margin: 0 0 0 0.5rem;
}

.section {
  padding: 0.25rem 1.25rem 1.25rem 1.25rem;
  border-top: 1px solid #666;
  background: #222;
}

.wrapper blockquote, .inset {
  padding: 1px 0.75rem;
  background: rgba(80, 100, 190, 0.2);
}

.wrapper blockquote {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 2px solid;
}

.inset {
  border-radius: 0.25rem;    
}

clearfix {
  float: none;
  clear: both;
  content: "";
  height: 0;
  padding: 0;
  margin: 0;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.85rem;
  /*border-radius: 0 0 0.2rem 0.2rem;*/
}


@media(max-width: 40rem) {
  .wrapper {
    max-width: 90%;
    margin: 1rem auto;
  }
  .navbar-title, nav {
    display: block;
    float: none;
    margin: 0.5rem 0;
    text-align: center;
  }
}
